dist/*
packages/*

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

bin/*
obj/*


.vs/

*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*.psess
*.vsp
*.vspx
*.sap

*.exe
*.dll
*.so
*.cache
*.props

lib/sllib/obj/project.assets.json
lib/socklib/obj/project.assets.json

